body {
   user-select: none;
}
main {
   padding-left: 300px;
}
.foodlist li .collapsible-header {
   font-weight: bold;
   border-bottom: 1px solid #d5e4c3 !important;
}

.keyboard_arrow_right, .keyboard_arrow_down {
   font-size: 16px !important;
   margin-right: 0px !important;
   margin-left: -10px;
}
.collapsible-header.active .keyboard_arrow_right {
   display: none;
}
.collapsible-header.active .keyboard_arrow_down {
   display: block;
}
.collapsible-header .keyboard_arrow_down {
   display: none;
}

.choicelist {
   border-top: 0px;
   border-bottom: 0px;
}
.choicelist .tourDay {
   list-style-type: none;
   border: 1px solid #E2E2E2;
   margin-bottom: 10px;
}
.choicelist .daySubTitle {
   font-weight: bold;
   padding-top: 10px;
   border-top: 1px solid #E2E2E2;
   padding-left: 13px;
}
.meal {
   min-height: 36px;
   border: 2px solid white;
}
.meal li {
   padding: 5px 12px;
}
.markTarget .meal {
   border: 2px dashed #DCEDC8;
}

.productlist {
   user-select: text;
}



/* Переопределение стилей */

.foodlist li.collection-item,
.foodlist li div:nth-child(2) li.collection-item {
   padding-left: 15px;
   cursor: move;
}

li.collection-item {
   list-style-type: none;
   cursor: pointer;
}
li.collection-item:hover {
   background-color: #f1f8e9;
}
.collection .collection-item.active {
   color: inherit;
}
li.collection-item .deleteButton {
   display: none;
   font-size: 10px;
   font-weight: bold;
   background-color: #c5e1a5;
   line-height: 18px;
   padding: 0px 6px;
   margin-top: 4px;
}
.tourDay li.collection-item:hover .deleteButton {
   display: block;
   /*padding: 3px;*/
   float: right;
}
.tourDay li.collection-item .deleteButton:hover {
   background-color: #8bc34a;
}

.input-field {
   width: 100px;
   font-size: 14px;
   line-height: 15px;
}
.input-field label,
.input-field input[type=number]:focus + label {
   color: black;
}
.input-field input[type=number]:focus {
   border-bottom: 1px solid black;
   box-shadow: 0 1px 0 0 black;
}
input[type='number'] {
   -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
ul {
   margin: 0px;
}

@media only screen and (max-width: 992px) {
   .side-nav.fixed {
       -webkit-transform: none;
       transform: none;
   }
}
